/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.bg-white {
    background: white;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom , rgba(126, 213, 111, 0.806), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 25px;
    left: 20px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 60px;

    /*Cuando hay problemas con las animaciones, shakes inesperados*/
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation: moveInLeft 1s ease-in;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-in;
}

.btn-white {
    background: white   ;
}

.btn {
    animation: moveInDown 1s ease-in .75s;
    animation-fill-mode: backwards;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
    padding: 15px 40px;
    border-radius: 100px;
    position: relative;
    transition: .5s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
    transform: scale(1.4);
    opacity: 0;
}

.btn:active {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}

@keyframes moveInDown {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}